<form action='/sessions' method='post'>
  <input type='text' name='username' placeholder='mikey'>
  <input type='password' name='password' placeholder='12345'>
  <input type='submit' value='Sign in'>
</form>
