<form action='/users' method='post'>
  <label for='username'>
    <input type='text' name='username' placeholder='michael123'>
  </label>
  <label for='name'>
    <input type='text' name='name' placeholder='Michael Smith'>
  </label>
  <label for='email'>
    <input type='email' name='email' placeholder='michael@gmail.com'>
  </label>
  <label for='password'>
    <input type='password' name='password' placeholder='12345'>
  </label>
  <label for='password_confirmation'>
    <input type='password' name='password_confirmation' placeholder='12345'>
  </label>
  <input type='submit' value='Sign up'>
</form>
