<form action='/peep' method='post'>
  <input type='text' name='new_peep' placeholder='What are you thinking?'>
  <input type='submit' value='Post peep'>
</form>

<% @peeps.each do |peep| %>
  <%= peep.peep %>
<% end %>
