<form action='/peep' method='post'>
  <input type='text' name='new_peep' placeholder='What are you thinking?'>
  <input type='submit' value='Post peep'>
</form>

<% @peeps.reverse.each do |peep| %>
  <ul>
    <li><%= peep.peep %></li>
    <li>Posted by <%= User.get(peep.user_id).username %></li>
  </ul>
<% end %>
